* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(180, 186, 201);
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* overflow: hidden; */
}
#intro-screen {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  /* display: none; */
}
.intro-container {
  position: relative;
}
.intro-image {
  width: 500px;
  border: 2px solid black;
}
.neo-title {
  width: 100%;
  height: auto;
  display: flex;
}
.start-game-btn {
  font-size: 22px;
  background-color: rgb(226, 161, 41);
  position: absolute;
  bottom: 20px;
  left: 1px;
  padding: 10px 60px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid green;
  transition: all 0.5s;
}
.high-score {
  font-size: 22px;
  background-color: rgb(180, 58, 180);
  position: absolute;
  bottom: 20px;
  right: 0px;
  padding: 10px 60px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid green;
  transition: all 0.5s;
}

.high-score:hover {
  background-color: rgb(255, 166, 0);
  color: rgb(255, 255, 255);
  /* font-size: 24px; */
}
.start-game-btn:hover {
  background-color: rgb(128, 42, 128);
  color: rgb(255, 255, 255);
  /* font-size: 24px;  */
}

#inGame-container {
  position: relative;
  width: 100%;
  display: none;
  max-width: 500px;
  margin: 0 auto;
}
.inGame-img {
  width: 100%;
  height: 660px;
  border: 2px solid black;
}
.haseeCharacter {
  width: 10%;
}
